<div id=viewer-container>
  <mat-toolbar class="toolbar"color="primary">
      <h2 class="viewer-title">{{typeName}}</h2>
      <span class="spacer"></span>
      <button  id="hide-btn" (click)="closeModal()" mat-raised-button class="btn close-btn">
        <mat-icon> close </mat-icon>
      </button>
  </mat-toolbar>
  <div id='app-outer-div'>
    <div id='container-dynamic-content'>
      <mat-card id="spinner-card" *ngIf="loading">
          <h2 class="loading-h2">Loading Viewer</h2>
          <mat-card-content class="spinner-container">
            <mat-progress-spinner [diameter]="200" class="margin"
                [color]="color"
                [mode]="mode"
                [value]="value">
            </mat-progress-spinner>
          </mat-card-content>
        </mat-card>
    <app-dynamic-base #child [hidden]="loading"></app-dynamic-base>
    </div>
  </div>
</div>
