/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
html, body {
  height: 100%;
  margin: 0;
  margin-left: 4%;
  margin-right:4%;
  padding: 0;
}

.plain-div{
  border-width: 3px;
  border-style: dashed;
  border-color: darkgreen;
  margin:10px;
  margin-bottom: 30px;
}

.content-box-div{
  border-width: 1px;
  border-style: solid;
  margin:10px;
  margin-bottom: 30px;

}
