/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/icon?family=Roboto';

@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto;
    font-size: 16px;
    overflow: hidden;
}
html, body {
  height: 97%;
  width: 100;
  margin: 0;
  padding: 0;

}

.table-div div{
  border-radius: 8px;

}

.mat-box-div{
  border-style: solid;
  border-color: rgb(92, 91, 91);
  border-width: 2px;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 4px;


}

app-dynamic-base{
  width:76%;
}

legend{
  width: fit-content !important;
  font-size: 16px !important;
  font-weight: bold !important;
}


/* inizio cosa vergognosa - questa è ganza   */
.mat-box-div{
  background-color: whitesmoke;
}

.mat-box-div .mat-box-div{
  background-color: aliceblue;
}

.mat-box-div .mat-box-div .mat-box-div{
  background-color: whitesmoke;
}

.mat-box-div .mat-box-div .mat-box-div .mat-box-div{
  background-color: aliceblue;
}

.mat-box-div .mat-box-div .mat-box-div .mat-box-div .mat-box-div{
  background-color: whitesmoke;
}

.outer-div{
  margin-top: 10px;
}

.boot-box-div{
  width: 90%;
  padding: 2%;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background-color: white;
}

.boot-box-div .boot-box-div{
  background-color: #f9f9f9;
}

.boot-box-div .boot-box-div .boot-box-div{
  background-color: white;
}

.boot-box-div .boot-box-div .boot-box-div .boot-box-div{
  background-color: #f9f9f9;
}

.boot-box-div .boot-box-div .boot-box-div .boot-box-div .boot-box-div{
  background-color: white;
}

/* fine cosa vergognosa */

mat-form-field {
  width: 50%;
  }


.mat-tab-label{
  font-size: 18px;
}





h1{
  font-size: 24px;
  font-weight: bold;
}

.value-input{
  width: 95% !important;
}

.mat-form-field-wrapper{
  width: 80%;
}
