.header{
  display: flex;
  justify-content: center;
  align-content: space-around;
}

#page{
  height: 100%;
}
#main-container{
  height: 100%;
}

.toolbar-row{
  display: flex;
  justify-content: center;
}

#dynamical-viewer{
  width: 800px;
	height: 600px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

