<div id="page">
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row class="toolbar-row">
      <h1>Migrazione Εmpεδοclε prova</h1>
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar-row">
        <button  id="views-btn btn" (click)="showViewList()" mat-raised-button class="btn" >Viste</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div id="main-container">

    <app-view-list *ngIf="showList" (showEditView)="showEditView()">   </app-view-list>

    <app-view-edit *ngIf="showEdit" >   </app-view-edit>


  </div>


</div>

