.header{
  display: flex;
  justify-content: center;
  align-content: space-around;
}

#page{
  height: 100%;
}
#main-container{
  height: 100%;
}

.toolbar-row{
  display: flex;
  justify-content: flex-start;
}

.views-btn{
  margin-left: 10%;
}



