<div id="view-edit-container">
    <mat-toolbar class="toolbar" >
        <h1 >Creazione Vista</h1>
        <div>
            <button mat-raised-button  (click)="null" class="btn">Annulla</button>
            <button mat-raised-button color="primary" (click)="getViewerEdit()" class="btn">PROVA</button>
            <button *ngIf="true" mat-raised-button color="accent" (click)="null" class="btn">Anteprima</button>
            <button *ngIf="true" mat-raised-button color="warn" (click)="null" class="btn">Salva</button>
        </div>
    </mat-toolbar>
    <div id="view-options-div">
        <mat-form-field class="input-form">
            <mat-label>*Nome</mat-label>
            <input matInput type="text" placeholder="Inserisci Nome" [(ngModel)]="viewName">
            <button mat-button *ngIf="viewName" matSuffix mat-icon-button aria-label="Clear" (click)="viewName=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div id="type-selector">
            <mat-form-field class="input-form">
                <mat-label>Applica a</mat-label>
                <mat-select [(value)]="typeName">
                  <mat-option> </mat-option>
                  <mat-option *ngFor="let type of typeList" [value]="type.label">{{type.label}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="typeName" class="generate-form">
              <mat-label>Genera...</mat-label>
              <mat-select>
                <mat-option>
                  <button mat-button  matSuffix mat-icon-button aria-label="asd" (click)="getViewerEdit()">Edit </button>
                </mat-option>
                <mat-option>
                    <button mat-button  matSuffix mat-icon-button aria-label="asd2" (click)="null">Output </button>
                  </mat-option>
              </mat-select>
          </mat-form-field>

        </div>

      </div>
    <div id="view-def-div">
        <mat-tab-group id="tabbed-div">
            <mat-tab label="*Definizione">
                <mat-form-field class="txt-form">
                  <textarea class="txt" matInput matAutosizeMinRows=10 placeholder="">{{dslContent}}</textarea>
                </mat-form-field>
            </mat-tab>
            <mat-tab label="CSS">
                <mat-form-field class="txt-form">
                  <textarea class="txt" matInput matAutosizeMinRows=10 placeholder=""></textarea>
                </mat-form-field>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>

