<div id="view-edit-container">
    <mat-toolbar class="toolbar" >
        <h1 >Creazione Vista</h1>
        <div>
            <button mat-raised-button  (click)="null" class="btn">Annulla</button>
            <button mat-raised-button color="primary" (click)="null" class="btn">Valida</button>
            <button *ngIf="typeName && generated" mat-raised-button color="accent" (click)="getPreview()" class="btn">Anteprima</button>
            <button *ngIf="viewName && typeName && generated" mat-raised-button color="warn" (click)="saveViewer()" class="btn">Salva</button>
        </div>
    </mat-toolbar>
    <div id="view-options-div">
        <mat-form-field class="input-form">
            <mat-label>*Nome</mat-label>
            <input matInput type="text" placeholder="Inserisci Nome" [(ngModel)]="viewName">
            <button mat-button *ngIf="viewName" matSuffix mat-icon-button aria-label="Clear" (click)="viewName=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div id="type-selector">
            <mat-form-field class="input-form">
                <mat-label>Applica a</mat-label>
                <mat-select [(value)]="typeName">
                  <mat-option> </mat-option>
                  <mat-option *ngFor="let type of typeList" [value]="type.label">{{type.label}}</mat-option>
                </mat-select>
            </mat-form-field>
              <button *ngIf="typeName" class="btn" mat-raised-button  color="primary" aria-label="asd" (click)="getViewerEdit()">Genera Edit </button>
              <button *ngIf="typeName" class="btn"  mat-raised-button  color="accent"  aria-label="asd2" (click)="null">Genera Output </button>
        </div>

      </div>
    <div id="view-def-div">
        <mat-tab-group id="tabbed-div">
            <mat-tab label="*Definizione">
                <mat-form-field class="txt-form">
                  <textarea class="txt" matInput placeholder="Type DSL" [value]="dslContent"></textarea>
                </mat-form-field>
            </mat-tab>
            <mat-tab label="CSS">
                <mat-form-field class="txt-form">
                  <textarea class="txt" matInput  placeholder="Viewer CSS" [value]='CSSContent'></textarea>
                </mat-form-field>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>


<div *ngIf="showDynamicalViewer" id="dynamical-viewer" >
  <app-dyn-viewer [typeName]="this.typeName" (closeClick)="showDynamicalViewer=false"></app-dyn-viewer>
</div>

